extends login_signup_base
block content
    h2#greeting.signout_msg You have been logged out successfully
    br
    .div_view_create
        input.login_btn_homepage.button(type="button" value="Login Again")